{{#if background}}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name = "viewport" content = "width = 320,
       initial-scale = 2.3, user-scalable = no">

    <style type="text/css">
        #canvas {
            background-image: url('{{getSmallBackgroundUrl}}');
        }
    </style>
{{/if}}
<div class="user-profile">
    <div class="headline">
        <h1>{{getName}}</h1>
        {{#if tagline}}
            <h2>{{tagline}}</h2>
        {{/if}}
    </div>
    <!-- Level up bar! -->
    <div class="level">
        <h1>Level Progress</h1>
        <div class="levelbar">
            <div class="levelbarfill" style="width:{{getLevelBarWidth}}px"></div>
        </div>
        <span class="previous">{{title}}</span><span class="next">{{nexttitle}}</span>
    </div>
</div>
</br></br></br>
<div id='badge-case'>

<h3 style="margin-left: 14                                                                                                                              px">Ribbons Earned</h3>
    <div class='well badge-info' span>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-02.png" alt="">
        </a>
    </li> 
          <h5>Freelance Journalist</h5>
          <p>tream content later featured in a TV report.</p>
    </div>
     <div class='well badge-info'>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-20.png" alt="">
        </a>
    </li> 
          <h5>Employee</h5>
          <p>TapIn employee.</p>
    </div>

 <div class='well badge-info' >
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-25.png" alt="">
        </a>
    </li> 
          <h5>Brogrammer</h5>
          <p>Stream a Brogrammer.</p>
    </div>
        <div class='well badge-info'>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-15.png" alt="">
        </a>
    </li> 
          <h5>YC</h5>
          <p>Stream something YC related.</p>
    </div>
     <div class='well badge-info'>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-05.png" alt="">
        </a>
    </li> 
          <h5>Broadcaster</h5>
          <p>More than 1,000 views.</p>
    </div>

 <div class='well badge-info' style="margin-right:0px">
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-17.png" alt="">
        </a>
    </li> 
          <h5>pb</h5>
          <p>Stream Paul Buchheit.</p>
    </div>
        <div class='well badge-info'>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-34.png" alt="">
        </a>
    </li> 
          <h5>Documentarian</h5>
          <p>Multiple streams at the same location.</p>
    </div>
     <div class='well badge-info'>
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-30.png" alt="">
        </a>
    </li> 
          <h5>Labcoat</h5>
          <p>Stream something of scientific note.</p>
    </div>

 <div class='well badge-info' style="margin-right:0px">
    <li class="span1">
        <a href="#" class="thumbnail">
          <img src="assets/img/badges/b-24.png" alt="">
        </a>
    </li> 
          <h5>Tech Talk</h5>
          <p>Stream a technical presentation.</p>
    </div>

</div>

<!-- Background credit -->
{{#if bgcreditname}}
    <span class="credit">bg photo &copy;
        {{#if bgcrediturl}}
            <a href="{{bgcrediturl}}" target="_new">{{bgcreditname}}</a>
        {{else}}
            {{bgcreditname}}
        {{/if}}
    </span>
{{/if}}