{{#if background}}
    <style type="text/css">
        #canvas {
            background-image: url('{{getSmallBackgroundUrl}}');
        }
    </style>
{{/if}}
<div class="user-profile">
    <div class="headline">
        <h1>{{getName}}</h1>
        {{#if tagline}}
            <h2>{{tagline}}</h2>
        {{/if}}
    </div>
    <!-- Level up bar! -->
    <div class="level">
        <h1>Level Progress</h1>
        <div class="levelbar">
            <div class="levelbarfill" style="width:{{getLevelBarWidth}}px"></div>
        </div>
        <span class="previous">{{title}}</span><span class="next">{{nexttitle}}</span>
    </div>
</div>

<!-- Background credit -->
{{#if bgcreditname}}
    <span class="credit">bg photo &copy;
        {{#if bgcrediturl}}
            <a href="{{bgcrediturl}}" target="_new">{{bgcreditname}}</a>
        {{else}}
            {{bgcreditname}}
        {{/if}}
    </span>
{{/if}}