{{#if background}}
    <style type="text/css">
        #user-modal {
            background-image: url('{{getBackgroundUrl}}');
        }
    </style>
{{/if}}
<div class="user-profile">
    <div class="headline">
        <h1 class='well'>{{getName}}'s Streams</h1>
    </div>
</div>
<div id='stream-container'>
{{#each streams}}
<div class='stream-preview'><a  href='#video/{{this.0.}}/now' onclick="$('#fancybox-close').click()"><img src='http://thumbs.tapin.tv/{{this.0.}}/144x108/latest.jpg'/></a></div>
{{/each}}
</div>
