/* * * * * * * * * * */
/* Start Calendar */
/* * * * * * * * * * */

#see-videos:hover {
    cursor:default;
    color: #db9994;
    float:right;
}

#see-videos {
    float:right;
}

 #date-range {
        position:relative;
        margin-top: 6px;
        float:right;
        margin-right: -20px;
      }
      #date-range-field {
        width: 290px;
        height: 26px;
        overflow: hidden;
        position: relative;
        cursor:pointer;
        border: 1px solid #CCCCCC;
        border-radius: 5px 5px 5px 5px;
        background:white;
      }
      #date-range-field a  {
        color:#B2B2B2;
        background-color:#F7F7F7;
        text-align:center;
        display: block;
        position: absolute;
        width: 26px;
        height: 23px;
        top: 0;
        right: 0;
        text-decoration: none;
        padding-top:6px;
        border-radius: 0 5px 5px 0;
      }
      #date-range-field span {
        font-size: 12px;
        font-weight: bold;
        color: #444;
        position: relative;
        top: 0;
        height: 26px;
        line-height: 26px;
        left: 5px;
        width: 250px;
        text-align: center;
      }
      
      #datepicker-calendar {
        position: absolute;
        top: 27px;
        right: 0;
        overflow: hidden;
        width: 497px;
        height:153px;
        background-color: #F7F7F7;
        border: 1px solid #CCCCCC;
        border-radius: 0 5px 5px 5px;
        background:white;
        display:none;
        padding:10px 0 0 10px;
      }
      
      /* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
      #datepicker-calendar div.datepicker {
        background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
    }


/* * * * * * * * * * */
/* START PLAYER CSS */
/* * * * * * * * * * */

/* root element should be positioned relatively so that
    child elements can be positioned absolutely */
.controls {
    position:relative;
    height:35px;
    margin: -48px 0 0;
    padding:5px 0 0;
    background-color:rgba(0,0,0,0.75);
}

/* when play button toggles between play/pause class
    we move its background image */
.controls .play, .controls .pause {
    position:absolute;
    width: 18px;
    height:14px;
    text-indent:-999em;
    cursor:pointer;
    overflow:hidden;
    background:url(../img/playpause.png) center top no-repeat;
    margin-top: 7px;
    margin-left: 15px;
}

.controls .pause {
    background-position:center -14px;
}

/* the track or "scrubber"  */
.controls .track {
    position:absolute;
    height:18px;
    top: 12px;
    left:40px;
    text-align:left;
    cursor:pointer;
    width:310px;
}

/* the draggable playhead */
.controls .playhead {
    position:absolute;
    height:12px;
    cursor:pointer;
    top:0px;
    width:12px;
}

/* buffer and controls are automatically resized, their initial width should be 0 */
.controls .progress, .controls .buffer {
    background-color:#fff;
    height:7px;
    margin:3px 4px;
    width:0px;
    position:absolute;
    top:0;
    font-size:0px;
    border-radius: 0px;

    /* this is the way to fine tune buffer and progress max width */
    max-width:634px;
}

.controls .buffer {
    background-color:#999;
}

/* hide time & mute */
.controls .time, .controls .mute, .controls .unmute {
    display:none;
}


#upvote {
    position:absolute;
    width:22px;
    height:21px;
    background: url(../img/upvote_hollow.png);
    float:right;
    right: 40px;
    top: 8px;
}

#upvote:hover {
    width:22px;
    height:21px;
    background: url(../img/upvote_filled.png) no-repeat;
    background-position:center 0px;

}

#downvote {
    position:absolute;
    width:22px;
    height:21px;
    background: url(../img/downvote_hollow.png);
    float:right;
    right: 13px;
    top: 8px;
}

#downvote:hover {
    width:22px;
    height:21px;
    background: url(../img/downvote_filled.png) no-repeat;
    background-position:center 0px;
}

.time-slider {
  width: 380px;
  height: 50px;
  position: absolute;
  left: 0px;
  bottom: 25px;
  z-index: 999;
}

body {
    font-size: 14px;
}

.container a {
    cursor: pointer;
}

.datepicker {
    background-color:rgba(255,0,0,0);
    border: none;
    color:white;
    font-size: 14px;
    margin-top: 6px;
    position:relative;
    text-align:right;
    width: 80px;
    cursor: pointer;
}

#time-slider-iframe
{
    border: none;
    width: 500px;
    bottom: -60px;
    position:absolute;
}

#user-menu {
    left: 22%;
    width: 150px;
    height: 207px;
    position:relative;
    background: white;
    font-size: 14px;
    border-radius: 3px;
    margin-top: -13px;
    z-index: -1;
    box-shadow: 0px 0px 6px gray;
    text-shadow: 0.1em 0.1em 0.05em #DDD;
}

#user-menu hr {
    margin: 3px 0px 0px 0px;
    border-bottom:  solid #d0d0d0 0px;
}

#user-menu a:hover {
    color:#506b93;
    text-decoration: none;
    cursor: pointer;
}
#user-menu a {
    color: #111;
}

#user-menu ul {}

#user-menu li {
    list-style: none;
    padding: 8px 8px 4px 16px;
}

.time-slider .bar{
  width: 280px;
  height: 3px;
  background:#333;
  position:absolute;
  top: 15px;
  z-index: -1;
  left: 30px;
}

.time-slider li {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background: #CCC;
  float:left;
  list-style:none;
  border-radius: 100px;
  border: #222 1px solid;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.time-slider li:hover, .time-slider li.current {
  background: rgb(169,3,41); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.time-slider li:active {
  background: #c62b2b;
}

.time-slider li p {
  margin-top: 33px;
  text-align:center;
}

/* Make pages fancy */
#modal-page .modal-content, #modal-page .modal-content p {
    color: #222;
    background-color: #fff;
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    line-height: 1.4;
    font-size: 14px;
}

#modal-page .modal-content h1 a {
    padding-bottom: 1.25rem;
}

#modal-page .modal-content h1 {
    color: #222;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 3rem;
    border-bottom: .25rem solid #B70600;
}

#modal-page .modal-content a {
    color: #222;
    text-decoration: none;
    border-bottom: 1px dashed #000;
}

#modal-page .modal-content a:hover {
    border-bottom: 1px dashed #B70600;
}

#modal-page .modal-content a img, #modal-page .modal-content a:hover img {
    border-bottom: none;
}

#modal-page .modal-content h1, #modal-page .modal-content h2, #modal-page .modal-content h3, #modal-page .modal-content h4, #modal-page .modal-content h5, #modal-page .modal-content h6 {
    font-family: "league-gothic", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 0.9em;
    margin: 36px 0 10px 0;
    padding-bottom: 0;
    letter-spacing: 1.5px;
    font-weight: 400;
}

#modal-page .modal-content blockquote {
    font-size: 18px;
    line-height: 26px;
    margin-left: 40px;
    border-left: 2px dashed #ccc;
}

/* Interface Positions */

#sidebar {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 0;
    width: 495px;
    padding: 10px 25px 10px 25px;
    background: url('../img/sidebarbg.png');
    -moz-box-shadow:  0px 2px 4px #000;
    -webkit-box-shadow: 0px 2px 4px #000;
    box-shadow:  0px 2px 4px #000;
    overflow: auto;
}

#sidebar h2 {
    color: #333;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: -2px;
}

#comments #more {
    height: 20px;
    width: 100%;
    bottom: 0px;
    position:absolute;
}

#more-button:hover {
    background:#999;
}

#more-button {
    cursor:pointer;
    color: #666;
    width: 40px;
    padding-bottom: 20px;
    height: 4px;
    margin: 0 auto;
    margin-top: -8px;
    text-align: center;
    background: #AAA;
    border-radius: 5px;
    border: solid 1px #666;
}

#comments {
    position:relative;
    overflow:hidden;
    width: 464px;
    background: #181818;
    padding: 8px 8px 24px 8px;
    border-radius: 4px;
    margin-top: -15px;
    background: url('../img/commentsbg.png');
    transition: height .4s;
    -moz-transition: height .4s; /* Firefox 4 */
    -webkit-transition: height .4s; /* Safari and Chrome */
    -o-transition: height .4s; /* Opera */
    border: 1px solid #CCC;
}

#comments .body {
    width: 420px;
    float:left;
}

.badge {
    float:left;
}

#badge-case {
    margin-bottom: 10px;
}

#badge-case img {
    padding: 4px 4px 4px 4px;
}

.badge-info {
    float:left;
    margin-right: 11px;
    margin-bottom: 11px;
    width: 233px;
    height: 50px;
    padding-right: 5px;
}

.badge-info li {
    list-style:none;
    margin: 0 auto;
    float:left;
    padding: 0 auto;
    top: -10px;
    left:-8px;
    position:relative;
}

.carousel-control {
    width: 20px;
    height: 20px;
    margin-right: -32px;
    margin-left: -32px;
    margin-top: -5px;
}

.carousel-control p {
    color:white;
    font-size: 32px;
    font-weight: 300;
    margin-top: -2px;
}

.carousel-inner {
    margin-bottom: -15px;
}

.video-preview-container {
    width: 95%;
    margin: 0 auto;
}

.video-preview img {
    border: 1px solid black;
    margin-left: 4px;
}

.badge-info h2 {
    font-size: 14px;
    padding: 0;
}

.badge-info p {
    
}

#badge-case {
    width: 95%;
    height: 110px;
}

#sidebar #player {
    height: 360px;
    margin-bottom: 8px;
}

.comment .body {
    float:left;
    width: 90%;
}

.comment .time {
    font-size: 10px;
    margin-top: -4px;
    color: #333;
}

#comment-form {
    margin-top: 2px;
    height: 25px;
}

#sidebar .user-icon {
    height: 35px;
    width: 35px;
    border-radius: 4px;
    border: 1px solid gray;
    background: url(../img/icon-temp.png);
    float:left;
    margin-right: 6px;
}

#sidebar .comment {
    float:left;
    color:#777;
    margin-bottom: 5px;
}

#map {
    position: absolute;
    top: 40px;
    left: 545px;
    bottom: 0;
    right: 0;
}

#map img {
    max-width: none;
}

#modal-page {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.8);
    overflow-y: auto;
    overflow-x: hidden;
}

#modal-page .modal-content {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    padding: 10px 10px;
    position: relative;
}


/* User pages! */
#user-modal {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 300px;
    z-index: 1000;
    overflow-y: : auto;
    overflow-x: hidden;
    text-align: left;
    background: #cc1509;
    background: -moz-radial-gradient(center, ellipse cover,  #cc1509 0%, #7a0700 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cc1509), color-stop(100%,#7a0700));
    background: -webkit-radial-gradient(center, ellipse cover,  #cc1509 0%,#7a0700 100%);
    background: -o-radial-gradient(center, ellipse cover,  #cc1509 0%,#7a0700 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #cc1509 0%,#7a0700 100%);
    background: radial-gradient(center, ellipse cover,  #cc1509 0%,#7a0700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1509', endColorstr='#7a0700',GradientType=1 );

}

.level {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'proxima nova', helvetica, sans-serif;
    text-transform: uppercase;
}

.level .previous, .level .next {
    font-size: 8px;
    width: 50%;
    overflow: hidden;
    display: inline-block;
}

.level .previous {
    text-align: left;
}

.level .next {
    text-align: right
}

.levelbar {
    width: 215px;
    height: 10px;
    border: 1px solid black;
    padding: 1px;
}

.levelbarfill {
    height: 10px;
    background-color: red;
}

.hidden {
    display: none;
}

#hidden-data
{
    width: 800px;
    height: 600px;
}

#mixpanel-partner {
    position: absolute;
    right: 4px;
    bottom: 0;
    display: none;
}

.navbar .search {
    float: right;
}

.navbar .user {
    float: left;
    padding: 10px 100px 11px;
    line-height: 19px;
    color: #db9994;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .user:hover {
    color: #fff;
}

.navbar .container {
    width: 93%;
    margin: 0 2% 0 5%;
}

.navbar .user.active {
    color: #ffffff;
    text-decoration: none;
    background-color: #9e0500;
}

.navbar .user img {
    background: #fff;
    border: 1px solid #ddd;
    margin: -5px 4px -5px;
}

#map-loader {
    position: absolute;
    right: 300px;
    top: 40px;
    z-index:1000;
    display: block;
}

#volume {
    position: absolute;
    bottom: 8px;
    right: 70px;
    z-index: 100000;
}

#volume .bar {
    float: left;
    width: 5px;
    height: 13px;
    background: #7d7d7d;
    margin: 0 4px 7px 0;

}

#volume .bar.active, #volume .bar:hover {
    background: #F0F0F0;
}




#volume .bar-0.active, #volume .bar-0:hover {
    background: url('../img/volume.png');
    background-position: 0px;
}
